.shop-container{
    display: grid ;
    grid-template-columns: 4fr 1fr;
    margin: 50px 50px;
}
.products-conatiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.cart-container{
    margin-left: 35px;
    background-color: gray;
}
.cart-container h2{
    padding-left: 14px;
}
@media only screen and (max-width: 600px) {
    .shop-container{
        display: grid ;
        grid-template-columns: repeat(2, 1fr);
        margin-left: -3px;
    }
    .products-conatiner{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .cart-container{
        background-color: gray;
        padding-right: 15px;
    }
  }