.cart{
    position: sticky;
    top: 0;
}
.cart h2{
    text-align: center;
}
.choose-btn{
    background-color: rgb(185, 176, 176);
    color: rgb(9, 90, 9);
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    padding: 0 5px;
    
}
.choose-btn:hover{
    background-color: green;
    color: #FFFF;
}
.remove-button{
    background-color: rgb(185, 176, 176);
    color: red;
    font-weight: 600;
    border-radius: 10px;
    margin-left: 50px;
}
.remove-button:hover{
    background-color: red;
    color: #FFFF;
}
@media only screen and (max-width: 600px){
    .choose-btn{
        margin-left: 10px;
    }
    .remove-button{
        margin-left: 10px;
    }
}