.product{
    border: 1px solid gray;
    border-radius: 10px;

}
.product img{
    width: 300px;
    border-radius: 10px;
    height: 300px;
    margin: 7px;
}
.product h3{
    font-size: 24px;
    line-height: 100%;
    padding-left: 15px;
}
.product p{
    font-size: 17px;
    padding-left: 15px;
}
.add-btn{
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-btn h4{
    margin-right: 5px;
}
.add-btn:hover{
    background-color: green;
    color: #FFF;
}
@media only screen and (max-width: 600px){
    .product{
        margin-left: 15px;
    }
    .product img{
        width: 245px;
        border-radius: 10px;
        height: 245px;
        margin: 7px;
    }
}